//gameboy

.gameboy{
    background-color: $c-pink;
    width: 350px;
    border-radius: 5px;
    padding: 20px;
    display: inline-block;
    margin: 20px;

    &Container{
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    
    &Top{
        border: 20px solid $c-black;
        height: 240px;
        border-radius: 5px;
    }

    &Under{
        height: 200px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        &Left img{
            width: 60px;
            margin-top: 50px;
        }
        &Right img{
            margin: 5px;
            width: 40px;
        }
        &Right img:first-child{
            margin-top: 70px;
        }
        &RightButtons{
            margin-left: 40px;
        }
    }
}

.gameboyFirst{
    background-image: url("./../../resources/photos/gamescreen.png");
}

.gameboyFourth{
    background-image: url("./../../resources/photos/gamescreen2.png");
}

.gameboyQuote{
    font-size: 17px;
}

.gameboyStory{
    background-color: rgb(199, 199, 199);
    & p{
        font-family: $pixel;
        padding: 5px;
    }
}

//stats

.about{
    margin: 0 auto;
    background-color: $c-teal;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 800px;
    border-radius: 5px;
    padding: 20px;
    margin-top: 40px;

    &Right{
        grid-column: 2/4;
        margin-top: 15px;
    }

    & p{
        font-family: $pixel;
    }

    &Left{
        font-size: 18px;
        & img{
            background-color: #C4D5D6;
            padding: 30px;
            -webkit-box-shadow: 10px -11px 0px 1px rgba(176,186,187,1);
            -moz-box-shadow: 10px -11px 0px 1px rgba(176,186,187,1);
            box-shadow: 10px -11px 0px 1px rgba(176,186,187,1);
        }
    }
}

//quest

.quest{
    background-color: $c-teal;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    & img{
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    & p{
        font-family: $pixel;
    }
}

//cv

.cv{
    background-color: #B290F6;
    max-width: 1200px;
    padding: 50px;
    margin-top: 80px;
    margin-bottom:0;
    margin-left: auto;
    margin-right: auto;

    &Header{
        border: 20px solid $c-black;
        border-radius: 5px;
        background-image: url("./../../resources/photos/bossbattle.png");
        background-repeat: no-repeat;
        height: 450px;
        width: 760px;
        &:after{
            content: "";
            animation: grain 8s steps(10) infinite;
            background-image: url("./../../resources/photos/papertexture.png");
            height: 300%;
            width: 300%;
            opacity: 0.3;
            position: fixed;
        }
    }
}

@keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -25%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
  }