//gameboy

.gameboy{
    background-color: $c-pink;
    width: 350px;
    border-radius: 5px;
    padding: 20px;
    display: inline-block;
    margin: 20px;

    &Container{
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    
    &Top{
        border: 20px solid $c-black;
        height: 240px;
        border-radius: 5px;
    }

    &Under{
        height: 200px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        &Left img{
            width: 60px;
            margin-top: 50px;
        }
        &Right img{
            margin: 5px;
            width: 40px;
        }
        &Right img:first-child{
            margin-top: 70px;
        }
        &RightButtons{
            margin-left: 40px;
        }
    }
}

.gameboyFirst{
    background-image: url("./../../resources/photos/gamescreen.png");
}

.gameboyFourth{
    background-image: url("./../../resources/photos/gamescreen2.png");
}

.gameboyQuote{
    font-size: 17px;
}

.gameboyStory{
    background-color: rgb(199, 199, 199);
    & p{
        font-family: $pixel;
        padding: 5px;
    }
}

.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    width: 80%;
    margin: 0 auto;
    gap: 3em;
}

//stats

.stats{
    background-color: $c-teal;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-radius: 5px;
    padding: 20px;
    width: 100%;

    &Right{
        grid-column: 2/4;
        margin-top: 15px;
    }

    & p{
        font-family: $pixel;
        margin-left: 20px;
    }

    &Left{
        font-size: 18px;
        & img{
            background-color: #C4D5D6;
            padding: 30px;
            -webkit-box-shadow: 10px -11px 0px 1px rgba(176,186,187,1);
            -moz-box-shadow: 10px -11px 0px 1px rgba(176,186,187,1);
            box-shadow: 10px -11px 0px 1px rgba(176,186,187,1);
        }
    }
}

//quest

.quest{
    background-color: $c-teal;
    padding: 20px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    & img{
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 20px;
    }
    & p{
        font-family: $pixel;
        margin-top: 30px;
    }
}

//game console for cv

.gameConsole{
    background-color: #71618E;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 1;
    max-width: 1100px;
    border-radius: 40px;
    margin: 0 auto;
    margin-top: 40px;

    &Left img{
        width: 70px;
        margin-top: 100px;
        margin-left: 35px;
    }
    &Right img{
        width: 50px;
        margin: 5px;
        margin-top: 270px;
    }
    &Right img:first-child{
        margin-top: 340px;
        margin-left: 25px;
    }

    &Left{
        grid-template-columns: 1/2;
    }

    &Right{
        grid-template-columns: 3/4;
    }

    &Screen{
        border: 30px solid $c-black;
        border-radius: 5px;
        background-image: url("./../../resources/photos/bossbattle.png");
        height: 440px;
        background-repeat: no-repeat;
        grid-column: 2/3;
    }
}

// cv 

.cv{
    border: 2px solid $c-teal;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 40px;
    width: 80%;
}

