* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.5;
}

body{
  overflow-x: hidden;
}

p{
    font-family: $open-sans;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-column-gap: 1rem;
}

.underline--magical {
    background-image: linear-gradient(120deg, #F6BDDE 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
    &:hover {
      background-size: 100% 88%;
    }
  }

  .btn-primary{
    border: none;
    text-transform: capitalize;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
  }