@import "partials/variables";
@import "partials/layout";
@import "partials/navigation";
@import "partials/footer";
@import "partials/home";
@import "partials/projects";
@import "partials/loading";
@import "partials/contact";
@import "partials/about";